* { margin: 0; }

body {
  background-color: rgb(253, 251, 251);
  font-family: Helvetica, Arial, Verdana, Tahoma, sans-serif;
}
main {
  margin: 100px 20px 0;
  box-shadow: 1px 3px 6px black;
  display: inline-block;
}

#cabecalho {
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.875);
  width: 100%;
  height: 100px;
  text-align: center;
}

#titulo {
  padding-top: 20px;
  color: white;
}

#navegacao {
  position: fixed;
  top: 65px;
}

#list-nav {
  margin: 0;
  padding: 0;
}

.buttom-nav {
  display: inline-block;
  margin-left: 15px;
  text-decoration: none;
  color: white;
}

#article-foto {
  background-color: rgba(0, 0, 0, 0.534);
}

#minha_foto {
  width: 270px;
  height: 340px;
  display: block;
  box-shadow: 2px 0 9px black;
}

#name {
  position: absolute;
  right: 142px;
  top: 220px;
  color: white;
  font-size: 3.5em;
  text-decoration: none;
}

#sub-text {
  position: absolute;
  right: 148px;
  top: 297px;
  color: white;
  font-size: 1em;
  padding-bottom: 5px;
  padding-top: 5px;
}

.lista-lessons {
  padding: 10px;
  background-color: rgb(0 0 0);
  line-height: 1.5;
  text-align: center;
  border: solid 5px gray;
}

#titulo-lessons {
  margin-bottom: 10px;
  text-align: center;
  color: white;
}

#licoes_aprendidas,
#licoes_a_aprender {
  display: inline-block;
  color: white;
}

#textos {
  padding: 4px;
  font-family: monospace;
  line-height: 1.5;
  border: solid 5px gray;
}

.lado-direito,
.lado-esquerdo,
#tabela {
  display: inline-block;
  width: 500px;
  border: solid 1px gray;
  padding: 9px;
  margin: 5px;
}

footer {
  background-color: rgba(0, 0, 0, 0.837);
  height: 30px;
  text-align: center;
  color: white;
  padding-top: 10px;}
  /n